<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 months todo</title>
</head>
<body style="background-image: url(static/tea-light.jpg); color: white; text-align: center;">
    <h2>"Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do."</h2>
    <div class="form">
        <form action="/track_details" method="GET">
            <input type="submit" value="Track Record Details" style="background-color: rgb(5, 243, 164);">
        </form>
        <form action="/" method="POST">
            <h3>Wakeup at 6:30</h3>
            <input type="radio" name="wakeup" value="Yes">
            <label for="wakeup">yes</label>
            <input type="radio" name="wakeup" value="Yes">
            <label for="wakeup">no</label>
            <h3>Meditation for 10 mins</h3>
            <input type="radio" name="meditation" value="Yes">
            <label for="meditation">yes</label>
            <input type="radio" name="meditation" value="Yes">
            <label for="meditation">no</label>
            <h3>Excercise for 20 mins</h3>
            <input type="radio" name="excercise" value="Yes">
            <label for="excercise">yes</label>
            <input type="radio" name="excercise" value="Yes">
            <label for="excercise">no</label>
            <h3>English Spoke</h3>
            <input type="radio" name="english" value="Yes">
            <label for="english">yes</label>
            <input type="radio" name="english" value="Yes">
            <label for="english">no</label>
            <h3>Technical skill things</h3>
            <input type="radio" name="technical" value="Yes">
            <label for="technical">yes</label>
            <input type="radio" name="technical" value="Yes">
            <label for="technical">no</label><br>
            <input type="text" name="knew_topic_tech" value="" placeholder="tell about that topic">
            <h3>Know something for placement</h3>
            <input type="radio" name="placement" value="Yes">
            <label for="placement">yes</label>
            <input type="radio" name="placement" value="Yes">
            <label for="placement">no</label><br>
            <input type="text" name="knew_topic_placement" value="" placeholder="tell about that topic">
            <h3>Spend time for TECH current affairs</h3>
            <input type="radio" name="techaffairs" value="Yes">
            <label for="techaffairs">yes</label>
            <input type="radio" name="techaffairs" value="Yes">
            <label for="techaffairs">no</label><br>
            <input type="text" name="knew_topic_techaffairs" value="" placeholder="tell about that topic">
            <h3>MERN</h3>
            <input type="radio" name="mern" value="Yes">
            <label for="mern">yes</label>
            <input type="radio" name="mern" value="Yes">
            <label for="mern">no</label><br>
            <input type="text" name="knew_topic_mern" value="" placeholder="topic">
            <h3>Atleast 1 Program</h3>
            <input type="radio" name="program" value="Yes">
            <label for="program">yes</label>
            <input type="radio" name="program" value="Yes">
            <label for="program">no</label>
            <h3>NoFAP</h3>
            <input type="radio" name="nofap" value="Yes">
            <label for="nofap">yes</label>
            <input type="radio" name="nofap" value="Yes">
            <label for="nofap">no</label>
            <h3>Today Note:</h3>
            <input type="text" name="note" value="">
            <br><br>
            <input type="submit" value="submit" style="background-color: green; color: white;">
        </form>

    </div>
</body>
</html>